In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
import oracledb
import cred_ora as c

In [2]:
engine = create_engine(
    f"oracle+oracledb://{c.ora_userid}:{c.ora_password}@{c.ora_dsn}", 
    pool_size=1, 
    max_overflow=0,
)

with engine.connect() as con:
    con.execute(text("alter session set current_schema=usozmed"))

In [3]:
def exe(sql):
    with engine.connect() as con:
        return pd.read_sql_query(text(sql), con)

In [6]:
sql = """
select count(*)
from 
  country co
  join city ci on ci.partofcountryid = co.id
  join person p on p.locationcityid = ci.id
  join forum_hasmember_person hasmember on hasmember.personid = p.id
  join forum f on f.id = hasmember.forumid
  join message post on post.containerforumid = f.id
  join message comment1 on comment1.parentmessageid = post.id
  join message_hastag_tag hastag on hastag.messageid = comment1.id
  join tag on tag.id = hastag.tagid
  join tagclass on tagclass.id = tag.typetagclassid
"""
exe(sql) # 10-11 sec

    COUNT(*)
0  155615588